@*@model BanHang.Models.CartItem*@

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutWeb.cshtml";
}
@{ 
    var cart = (List<BanHang.Models.CartItem>)Session["Cart"];
    var TotalMoney = Session["TotalMoney"];
    int i = 1;
    decimal Total = 0;
}


<!doctype html>
<html>
<head>

    <meta charset="utf-8">
    

    <title>Giỏ h&#224;ng</title>
    
    


    <script>
            window.insider_object.user = {"uuid":"user_ducthang100320","gender":"M","birthday":"","has_transacted":false,"transaction_count":0,"gdpr_optin":true,"name":"Vũ Đức Thắng","surname":"","username":"ducthang100320","email":"ducthang100320@gmail.com","email_optin":true,"phone_number":"0377773870","sms_optin":true,"language":"vi-VN","returning":true,"list_id":null};
    </script>

    @*<script async src="//hoanghamobilevn.api.useinsider.com/ins.js?id=10005327"></script>*@
</head>

<body>
    
    <section>
        <div class="container">

            <div class="cart">
                <div class="header">
                    <div class="back">
                        <a href="/">
                            <i class="icon-leftar"></i>
                            <strong>Quay lại</strong>
                        </a>
                    </div>
                </div>

                <div class="cart-layout">

                    <div class="cart-info" id="cartInfo">
                        @if (cart != null)
                        {
                            foreach (var item in cart)
                            {
                                Total = item.PromotionPrice * item.Quantity;
                                <div class="cart-items">

                                    <div class="item " data-sku="IPN1164B">
                                        <div class="img">
                                            <img src="~/ContentWeb/i/productlist/ts/Uploads/2021/03/19/iphone-11.png" alt="@item.Name" />
                                            <p class="title">@item.Name</p>
                                            <p class="price">
                                                <i class="icon-flash text-red"></i>
                                                <strong id="txtPrice_@i">@item.PromotionPrice.ToString("N0") đ</strong>

                                                <strike>@item.Price.ToString("N0") đ</strike>
                                            </p>
                                            <div class="number">
                                                <label>Số lượng</label>
                                                <div class="control">
                                                    <p id="txtID_@i" class="hide">@item.Id</p>
                                                    @*<td class="hidden">@item.Id</td>*@
                                                    <button id="txtMinus_@i" onclick="MinusCart(this.id)">-</button>
                                                    <input type="text" id="txtQuantity_@i" onkeyup="AddQuantity(this.id)" @*onchange="cartChange('IPN1164B');"*@ value="@item.Quantity" />
                                                    <button id="txtPlus_@i" onclick="PlusCart(this.id)" @*data-sku="IPN1164B"*@>+</button>

                                                </div>

                                                <p>Tổng: <strong class="price" id="txtTotal_@i">@Total.ToString("N0") ₫</strong> </p>
                                            </div>
                                        </div>

                                        <div class="info">

                                            <div class="edit">

                                                <a href="/Cart/RemoveCart?Id=@item.Id" class="red"><i class="icon-minutes"></i></a>
                                            </div>

                                            <div class="promote">
                                                <div class="offer-items" id="of_IPN1164B">


                                                    <div class="offer">
                                                        <div class="stt">
                                                            <label>KM1</label>
                                                        </div>
                                                        <div class="offer-border">
                                                            <div class="content">
                                                                <label class="radio-ctn">
                                                                    <span>Giảm th&#234;m 1.000.000đ khi thu cũ, đổi mới l&#234;n đời iPhone 12 Series | iPhone 11 |iPhone XR</span>
                                                                    <input checked class="cart-promote" type="radio" name="IPN1164B_promote_g_0_13" value="13">
                                                                    <span class="checkmark"></span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="offer">
                                                        <div class="stt">
                                                            <label>KM2</label>
                                                        </div>
                                                        <div class="offer-border">
                                                            <div class="content">
                                                                <label class="radio-ctn">
                                                                    <span>Giảm 300.000đ khi mua c&#249;ng sản phẩm bộ ph&#225;t wifi M7200 v&#224; M7350 </span>
                                                                    <input checked class="cart-promote" type="radio" name="IPN1164B_promote_g_0_385" value="385">
                                                                    <span class="checkmark"></span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="offer">
                                                        <div class="stt">
                                                            <label>KM3</label>
                                                        </div>
                                                        <div class="offer-border">
                                                            <div class="content">
                                                                <label class="radio-ctn">
                                                                    <span>Sản phẩm đang thuộc chương tr&#236;nh Flash sale. mua chỉ với gi&#225; 13,590,000</span>
                                                                    <input checked class="cart-promote" type="radio" name="IPN1164B_promote_g_0_6" value="6">
                                                                    <span class="checkmark"></span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="options">
                                                <div class="option">
                                                    <strong>Phiên bản</strong>
                                                    <label>
                                                        <i class="icon-checked"></i>
                                                        <span>64GB</span>
                                                    </label>
                                                </div>

                                                <div class="option">
                                                    <strong>Màu sắc</strong>
                                                    <label>
                                                        <i class="icon-checked"></i>
                                                        <span>Black</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                    </div>



                                </div>
                                i++;
                            }
                            @*<div class="control">
                    <button id="btnUpdate" onclick="UpdateProduct()">Update giỏ hàng</button>
                </div>*@
                            <div class="cart-total">
                                <p>Tổng giá trị: <strong class="price" id="txtTotalMoney">@TotalMoney@*.ToString("N0")*@ ₫</strong> </p>
                                <p>Giảm giá: <strong class="price">-00 ₫</strong></p>
                                <p>Tổng thanh toán: <strong class="price text-red">44,540,000 ₫</strong></p>
                                <p><i>Bốn mươi bốn triệu năm trăm bốn mươi ngh&#236;n đồng chẵn.</i></p>
                                <button class="next">Tiếp tục</button>
                            </div>

                        }
                        else
                        {

                            <div class="cart-layout">
                                <div class="cart-content">
                                    <div class="no-items">
                                        <div class="cart-icon">
                                            <i class="icon-cart-index"></i>
                                            <label>Giỏ hàng</label>
                                        </div>
                                        <div class="img">
                                            <img src="~/ContentWeb/Content/web/content-icon/no-item.png" />
                                            <p><strong>Hiện chưa có sản phẩm nào trong giỏ hàng</strong></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    @if (cart != null)
                    {
                        <div class="cart-form">
                            @*<form onsubmit="return validFormOrder(this);" action="/Cart/Checkout">*@
                                <input name="__RequestVerificationToken" type="hidden" value="IsMypbXKmWjA05VFv11lWb-d5Wvzbs33sSld3clt6mH39rKta20Xfh-TaclxoZgbo-FkD762r-fxO4nXcWOkCIE9grosK4Ik9Xgb4lzbvVtQUeXvTmzMU-kGxtFsNLeguhZOtA2" />
                                <h3>Thông tin đặt hàng</h3>
                                <p class="text-gray"><i>Bạn cần nhập đầy đủ các trường thông tin có dấu *</i></p>
                                <div class="row">
                                    <div class="col">
                                        <div class="control">
                                            <input value="Vũ Đức Thắng" name="Title" type="text" placeholder="Họ và tên *" data-required="1" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="control">
                                            <input value="0377773870" name="Phone" type="tel" placeholder="Số điện thoại *" data-required="1" />
                                        </div>
                                    </div>
                                </div>



                                <div class="row">
                                    <div class="col">
                                        <div class="control">
                                            <input name="Address" type="text" placeholder="Địa chỉ nhận hàng *" data-required="1" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="control">
                                            <input value="ducthang100320@gmail.com" name="Email" type="email" placeholder="Email" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="control">
                                            <textarea name="Note" placeholder="Ghi chú" spellcheck="false" data-minlength="15"></textarea>
                                        </div>
                                    </div>
                                </div>



                                <div class="row">
                                    <div class="col-center">
                                        <div class="control">
                                            <input name="Counpon" type="text" placeholder="Mã giảm giá (Nếu có)" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="control-button">
                                        <button type="submit">XÁC NHẬN VÀ ĐẶT HÀNG</button>
                                    </div>
                                </div>
                            @*</form>*@

                        </div>
                    }
                    else
                    {

                    }



                </div>
            </div>
        </div>
    </section>
    <iframe src="https://asia.creativecdn.com/tags?id=pr_n4X0y6ApZyJaHX1dNxQd_basketstatus_1,500,775" width="1" height="1" scrolling="no" frameBorder="0" style="display: none;"></iframe>



    <footer>
        <div class="container">

            

            <div id="backtoTop">
                <a id="top" href="javascript:;">
                    <i class="icon-left"></i>
                </a>
            </div>
        </div>
    </footer>
    <div id="popup-modal"></div>
    <div id="sticker-modal"></div>
    <div class="search-bg"></div>

    

    <!-- analytics -->
    <script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-1415779-10', 'auto');
    ga('require', 'GTM-KXZQBMD');
    ga('require', 'GTM-WPLRWHK');
    ga('send', 'pageview');

    </script>
    <!-- analytics -->
    <!-- Google Tag Manager -->
    <script>
    (function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-5QM3X2');</script>
    <!-- End Google Tag Manager -->
    <!-- subiz -->
    <script>!function(s,u,b,i,z){var o,t,r,y;s[i]||(s._sbzaccid=z,s[i]=function(){s[i].q.push(arguments)},s[i].q=[],s[i]("setAccount",z),r=["widget.subiz.net","storage.googleapis"+(t=".com"),"app.sbz.workers.dev",i+"a"+(o=function(k,t){var n=t<=6?5:o(k,t-1)+o(k,t-3);return k!==t?n:n.toString(32)})(20,20)+t,i+"b"+o(30,30)+t,i+"c"+o(40,40)+t],(y=function(k){var t,n;s._subiz_init_2094850928430||r[k]&&(t=u.createElement(b),n=u.getElementsByTagName(b)[0],t.async=1,t.src="https://"+r[k]+"/sbz/app.js?accid="+z,n.parentNode.insertBefore(t,n),setTimeout(y,2e3,k+1))})(0))}(window,document,"script","subiz","acqqrmpwwuqeianonpxt")</script>
    <!-- subiz -->
    <!-- accesstrade-->
    <script src="//static.accesstrade.vn/js/trackingtag/tracking.min.js "></script>
    <script type="text/javascript">
    AT.init({ "campaign_id": 626, "is_reoccur": 1, "is_lastclick": 1 });
    AT.track();
    </script>
    <!-- accesstrade-->



    <script src="/js-css/web_v1.0.9.9.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            init_cityChange(0);
        });
    </script>

    <script type="text/javascript">
            $(document).ready(function () {
                showSticker(24);
            });
    </script>
    
    <script type="text/javascript">
        
        function PlusCart(id) {
            
            var idProduct = id.replace("txtPlus_", "");
            var Quantity = document.getElementById("txtQuantity_" + idProduct);
            Quantity.value = parseInt(Quantity.value) + 1;
            var Price = document.getElementById("txtPrice_" + idProduct).innerHTML.replaceAll(",", "");
            var Total = document.getElementById("txtTotal_" + idProduct);
            Total.innerHTML = (Quantity.value * parseInt(Price)).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + " đ";
            CalTotal();
            var Id = document.getElementById("txtID_" + idProduct.toString()).innerHTML;
            //var Price = document.getElementById("txtPrice_" + idProduct).innerHTML.replaceAll(",", "");
            //alert(Price);
            var Quantity = document.getElementById("txtQuantity_" + idProduct.toString()).value;
            var jsData = "{Id: '" + Id + "', Quantity : '" + Quantity + "'}";
            //alert(jsData);  
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("UpdateCart","Cart")',
                            contentType: "application/json; charset=utf-8",
                            data: jsData,
                            dataType: "json",
                            success: function (result) {
                                if (result == true) {
                                    alert("Cập nhật giỏ hàng thành công");
                                    window.location = "/Cart/Index";
                                }
                                else {
                                    alert("Cập nhật giỏ hàng thất bại");
                                }
                            }
                        });
            //UpdateProduct();
        }
        function MinusCart(id) {
            var idProduct = id.replace("txtMinus_", "");
            var Quantity = document.getElementById("txtQuantity_" + idProduct);
            if (parseInt(Quantity.value) > 0) {
                Quantity.value = parseInt(Quantity.value) - 1;
                var Price = document.getElementById("txtPrice_" + idProduct).innerHTML.replaceAll(",", "");
                var Total = document.getElementById("txtTotal_" + idProduct);
                Total.innerHTML = (Quantity.value * parseInt(Price)).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + " đ";
                //alert(Total.innerHTML.replace(/\B(?=(\d{3})+(?!\d))/g, ','));
            }
            CalTotal();
            var ID = document.getElementById("txtID_" + idProduct.toString()).innerHTML;
            var Price = document.getElementById("txtPrice_" + idProduct).innerHTML.replaceAll("đ", "");
            //alert(Price);
            var Quantity = document.getElementById("txtQuantity_" + idProduct.toString()).value;
            var jsData = "{Id: '" + ID + "', Quantity : '" + Quantity + "'}";
            //alert(jsData);  
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("UpdateCart","Cart")',
                            contentType: "application/json; charset=utf-8",
                            data: jsData,
                            dataType: "json",
                            success: function (result) {
                                if (result == true) {
                                    alert("Cập nhật giỏ hàng thành công");
                                    window.location = "/Cart/Index";
                                }
                                else {
                                    alert("Cập nhật giỏ hàng thất bại");
                                }
                            }
                        });
            
        }
        function AddQuantity(id) {
            var idProduct = id.replace("txtQuantity_", "");
            var Quantity = document.getElementById(id).value;
            if (Quantity > 100 || Quantity < 0) {
                alert("Số lượng sản phẩm phải lớn hơn 0 và nhỏ hơn 100"); return;
            }
            else {
                var Price = document.getElementById("txtPrice_" + idProduct).innerHTML.replaceAll(",", "");
                var Total = document.getElementById("txtTotal_" + idProduct);
                Total.innerHTML = (Quantity * parseInt(Price)).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + " đ";
                //alert(Total.innerHTML.replace(/\B(?=(\d{3})+(?!\d))/g, ','));
                CalTotal();
            }
            var ID = document.getElementById("txtID_" + idProduct.toString()).innerHTML;
            var Price = document.getElementById("txtPrice_" + idProduct).innerHTML.replaceAll("đ", "");
            alert(Price);
            var Quantity = document.getElementById("txtQuantity_" + idProduct.toString()).value;
            var jsData = "{Id: '" + ID + "', Quantity : '" + Quantity + "'}";
            alert(jsData);  
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("UpdateCart","Cart")',
                            contentType: "application/json; charset=utf-8",
                            data: jsData,
                            dataType: "json",
                            success: function (result) {
                                if (result == true) {
                                    alert("Cập nhật giỏ hàng thành công");
                                    window.location = "/Cart/Index";
                                }
                                else {
                                    alert("Cập nhật giỏ hàng thất bại");
                                }
                            }
                        });

        }
        function CalTotal() {
            
            var TotalMoney = document.getElementById("txtTotalMoney");
            var TotalValue = 0;
            for (var i = 0; i < @Session["TotalProduct"]; i++) {

                var GiaTri = document.getElementById("txtTotal_" + (i + 1).toString()).innerHTML.replaceAll(",", "");
                //alert(GiaTri);
                TotalValue = TotalValue + parseInt(GiaTri);
                
            }
            TotalMoney.innerHTML = TotalValue.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + " đ";
            //UpdateProduct();
            //alert(TotalMoney.innerHTML.replace(/\B(?=(\d{3})+(?!\d))/g, ','));
        }
        function UpdateProduct() {
            var idProduct = id.replace("txtPlus_", "");
            var ID = document.getElementById("txtID_" + idProduct.toString()).innerHTML;
            var Quantity = document.getElementById("txtQuantity_" + idProduct.toString()).value;
                var jsData = "{Id: '" + ID + "', Quantity : '" + Quantity + "'}";
            alert(jsData);  
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("UpdateCart","Cart")',
                            contentType: "application/json; charset=utf-8",
                            data: jsData,
                            dataType: "json",
                            success: function (result) {
                                if (result == true) {
                                    alert("Cập nhật giỏ hàng thành công");
                                    window.location = "/Cart/Index";
                                }
                                else {
                                    alert("Cập nhật giỏ hàng thất bại");
                                }
                            }
                });
                CalTotal();
            
        }
            

    </script>

    @*<script type="text/javascript">
        function UpdateProduct() {
            for (var i = 0; i < @Session["TotalProduct"]; i++) {
                alert("abc");
                //var idProduct = id.replace("txtQuantity_", "");
                //alert(idProduct);
                //var AccountName = document.getElementById("txtAccount").value;
                //var Price = document.getElementByid("txtPrice_" + i).innerHTML.replaceAll(",", "");
                //alert(Price);
                var Quantity = document.getElementById("txtQuantity_").value;
                alert(Quantity.value);
                //var jsData = "{AccountName: '" + AccountName + "', Password : '" + Password + "'}";
                //alert(jsData);   
            }
            
        }
            $.ajax({
                type: "POST",
                url: '@Url.Action("UpdateCart","Cart")',
                contentType: "application/json; charset=utf-8",
                data: jsData,
                dataType: "json",
                success: function (result) {
                    if (result == true) {
                        alert("Cập nhật giỏ hàng thành công");
                        window.location = "/Cart/Index";
                    }
                    else {
                        alert("Cập nhật giỏ hàng thất bại");
                    }
                }
        });
    </script>*@


</body>
</html>


