@model List<BanHang.Models.Menu>
<!-- Menu  -->
<nav>
    <div class="container">
        <ul class="root">
            @foreach (var item in Model)
            {
                if (item.ParentID == -1 && item.Level != 3)
                {
                    <li>
                        <a href="@item.URL" target="_self">
                            @*<i class="@item.Icon" ></i>*@
                            <span>@item.Name</span>
                        </a>
                    </li>
                }
                else if (item.ParentID == -1 && item.Level == 3)
                {
                    <li>
                        <a href="@item.URL" target="_self">
                            @*<i class="@item.Icon"></i>*@
                            <span>@item.Name</span>
                        </a>
                        <div class="sub-container">
                            <div class="sub" >
                                <div class="menu g0">
                                    @foreach (var item2 in Model)
                                    {
                                        if (item.ID == item2.ParentID)
                                        {
                                                <h4><a href="phu-kien/xa-ton-phu-kien-gia-soc.html">@item2.Name</a></h4>
                                                <ul class="display-column format_1"></ul>
                                                <div class="menu g0">
                                                    @foreach (var item3 in Model)
                                                    {
                                                        @*<h4><a href="phu-kien/pin-man-hinh.html">@item2.Name</a></h4>*@
                                                        if (item2.ID == item3.ParentID)
                                                        {
                                                            <ul class="display-column format_1">
                                                                <li><a href="phu-kien/pin-man-hinh/pin.html">@item3.Name</a></li>
                                                            </ul>
                                                        }


                                                    }
                                                </div>
                                                }


                                                }


                                        </div>


                                <div class="menu ads" style="width:300px">
                                </div>
                            </div>
                        </div>
                    </li>
                }
            }




        </ul>
    </div>
</nav>
<!-- End Menu -->


